<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.7.9/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.7.9/css/react-select.css" />
    <title>Document</title>
</head>
<body>
    <script defer src="https://source.zoom.us/1.7.9/lib/vendor/react.min.js"></script>
    <script defer src="https://source.zoom.us/1.7.9/lib/vendor/react-dom.min.js"></script>
    <script defer src="https://source.zoom.us/1.7.9/lib/vendor/redux.min.js"></script>
    <script defer src="https://source.zoom.us/1.7.9/lib/vendor/redux-thunk.min.js"></script>
    <script defer src="https://source.zoom.us/1.7.9/lib/vendor/jquery.min.js"></script>
    <script defer src="https://source.zoom.us/1.7.9/lib/vendor/lodash.min.js"></script>
    <script defer th:src="@{~/js/zoom-meeting-1.7.10.min.js}"></script>
    <script async th:inline="javascript">
        /*
            <![CDATA[*/
                var meetingConfig = /*[[${meetingConfig}]]*/ '{}';
            /*]]
        */
    </script>
    <script defer th:src="@{~/js/course-start.js}"></script>
</body>
</html>