<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${courseResult.getCourseName()}"></title>

    <link th:href="@{~/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/css/shop-item.css}" rel="stylesheet">
    <script defer th:src="@{~/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script defer th:src="@{~/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card text-center mt-4">
                <div class="card-header text-center">
                    <h5 class="font-weight-bold" th:text="${#temporals.format(courseResult.getCourseStartDate(), 'MMMM dd, YYYY')}"></h5>
                    <span th:text="${#temporals.format(courseResult.getCourseStartTime(), 'hh:mma')} + '-' + ${#temporals.format(courseResult.getCourseEndTime(), 'hh:mma')}"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="'Tersisa ' + ${courseResult.getCapacity()} + ' kursi lagi'"></h5>
                    <a th:href="@{{id}/join(id=${id})}" class="btn btn-primary">Join Course</a>
                </div>
                <div class="card-footer text-muted">
                    Ditutup 2 hari lagi
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                <div class="card-body">
                    <h3 class="card-title" th:text="${courseResult.getCourseName()}"></h3>
                    <p class="card-text mt-4" th:utext="${courseResult.getCourseDescription()}"></p>
                </div>
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Instructor
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 text-justify">
                            <strong th:text="${courseResult.getInstructorName()}"></strong>
                            <p th:utext="${courseResult.getInstructorDescription()}"></p>
                        </div>
                        <div class="col-md-4">
                            <img src="https://cdn.oreillystatic.com/authors/trim/prod/images/38986-200x200.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Schedule
                </div>
                <div class="card-body">
                    <p><strong>Roadmap</strong> (5 minutes)</p>
                    <ul>
                        <li>Lecture: Explanation of course and purpose; course roadmap; why PowerPoint?; PowerPoint
                            stigmas
                            demystified; PowerPoint isn’t the problem—the presenter is; why PowerPoint should be three
                            primary
                            things—audience-focused, visually superior, and organized and consistent
                        </li>
                        <li>Group discussion: What negative things have you heard (or said) about PowerPoint? What are
                            its
                            stigmas? What types of presentations do you give in your profession? How do you use
                            PowerPoint in those
                            presentations?
                        </li>
                    </ul>
                    <p><strong>Why visuals matter</strong> (5 minutes)</p>
                    <ul>
                        <li>Lecture: Engagement; recall; storytelling; the picture superiority effect; professionalism
                        </li>
                        <li>Poll: Do you feel confident designing visually rich information?</li>
                        <li>Group discussion: What do you feel less confident in? What makes designing effective
                            PowerPoint slides
                            hard?
                        </li>
                    </ul>
                    <p><strong>PowerPoint faux pas</strong> (10 minutes)</p>
                    <ul>
                        <li>Group discussion: What are your greatest PowerPoint pet peeves?</li>
                        <li>Lecture: 40 ways to screw up a PowerPoint slide; other PowerPoint mishaps</li>
                        <li>Q&amp;A</li>
                    </ul>
                    <p><strong>Design overview: Structure, relevancy, and CRAP</strong> (20 minutes)</p>
                    <ul>
                        <li>Lecture: The design trifecta—structure, relevancy, and CRAP; structure—beginning (title
                            slide), middle
                            (roadmap, sections, unique content, signposts), ending (the closing slide), footers and
                            indicators;
                            relevancy—audience needs, style (colors, typefaces, photography, cohesion), matching visuals
                            to content
                            (stories, numerical data, bullets), finding photos, finding icons; CRAP—contrast,
                            repetition, alignment,
                            proximity
                        </li>
                    </ul>
                    <p><strong>Design specifics: Trips, tricks, and ideas</strong> (15 minutes)</p>
                    <ul>
                        <li>Lecture: Bleeds and margins; cutting up photos; transparent overlays; creative cues
                            (brackets, etc.);
                            block quotes; highlighting data (emphasizing chart info); the rule of thirds
                        </li>
                    </ul>
                    <p><strong>Wrap-up and Q&amp;A</strong> (5 minutes)</p>

                </div>
            </div>
        </div>
    </div>
</div>eval

<div th:replace="footer"></div>

</body>

</html>